* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
}

/*main bg */
.background {
  width: 100%;
  height: 100%;
  background-image: url(../images/home_bg.jpg); /*path needs to be relative to css not html*/
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;
}


/* menu setup */
.nav {
  width: 275px;
  height: 100px;
  /*background-color: gray; REMOVED TO MAKE TRANSPARENT TO BG*/
  position: absolute;
  top: 25%; /* menu top down position*/
  left: 0;
}

.nav a{
  text-decoration: none;
  font-size: 28px;
  font-family: verdana;
  font-weight: bold;
  width: 85%;
  height: 90px;
  margin: 5px 0;
  float: left;
  display: inline-block;
  background-color: black;
  color: white;
  line-height: 90px;
  text-align: center;
  transition: 300ms;
}

/* interactive menu hover */
.nav a:hover { /*home button always white*/
	background-color: white;
	color: black;
	width: 100%;
}

/* homepage body content */
.content {
  position: absolute;
  width: 1000px;
  min-height: 600px;
  height: auto;
  /*background-color: red;*/
  right: 1%;
  top: 10%;
}

/* ```````````````````````````````````````````````````````````````````*/
/* home sectiontext */
.home {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  font-family: verdana;
  text-transform: uppercase;
}

.home h1 {
  font-size: 95px;
  padding-right: 50px;
  border-bottom: 1px solid white;
}

.home h2 {
  font-size: 28px;
  padding: 5px 0;

}

/*
.home h3 {
  font-size: 20px;
  padding-right: 40px;
  padding-left: 130px;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: left;
}
*/
/* ```````````````````````````````````````````````````````````````````*/

/* projects section text */
.projects {
  position: absolute;
  right: 0;
  top: 10px;
  color: white;
  /*font-family: century gothic;*/
  padding: 0 60px;
  display: none;

}
/*
.projects p {
  font-size: 18px;
  line-height: 28px;
  
}*/

/* image formatting for project gallery section*/
.projects .image {
  width: 30%;
  margin: 2%;
  float: left;
}

.image img {
  border-radius: 25px; /* makes corners round */
  padding-top: 1%; /*spacing between images */
  padding-right: 0.5%;
  width: 23%; /* changes iamge width*/
  transition: all ease 0.5s;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.image img:hover {
  transform: scale(1.1);
}

/* ```````````````````````````````````````````````````````````````````*/

/* about me section text */
.aboutme {
  position: absolute;
  right: 0;
  top: 10px;
  color: white;
  font-family: century gothic;
  padding: 0 60px;
  display: none;
}

.aboutme p { /* helps quick format text in section*/
  font-size: 18px;
  line-height: 28px;
  
}
/* ```````````````````````````````````````````````````````````````````*/

/* resume section text */
.resume {
  position: absolute;
  right: 0;
  top: 10px;
  color: white;
  font-family: century gothic;
  padding: 0 60px;
  display: none;

}

.resume p {
  font-size: 18px;
  line-height: 28px;
  
}

/* for mobile support */
@media only screen and (max-width: 768px) {

	html, body {
	  font-size: 12px;
	  font-weight: normal;
	}

	.nav a {
		font-size: 9px;
		width: 18%;
		height: 25px;
		line-height: 20px;
		padding: 0 5px;
		margin: 0 6px; /* mobile menu padding */
	}
	
	.nav a:hover {
	  width: auto;
	}
	
	.nav {
	   width: 100%;
	   top: 20px;
	   z-index: 99;
	}
	
	.home h1 {
	  font-size: 22px;
	  padding-right: 0;
	  border-bottom: none;
	}
	
	.home h2 { /* secondary main menu title font */
	  font-size: 14px;
	  padding: 86px 0;
	}
	
	.content { /* main text for mobile*/
	  width: 100%;
	  height: 100%;
	  top: -30px;
	  min-height: inherit;
	  right: 0%;
	}
	
	.home {
	  left: 0;
	  text-align: center;
	  bottom: 50px;
	}
	
	.background {
	  background-position: center;
	}
	
	.projects {
	  width: 90%;
	  margin: 0 auto;
	  padding: 100px 0 0;
	  top: 0;
	  left: 0;
	}
	
	/*.projects p {
	  font-size: 14px;
	} */
	
	.projects .image {
	  width: 95%;
	  margin: 3%;
	  float: left;
	}
	
	
	.aboutme {
	  width: 90%;
	  margin: 0 auto;
	  padding: 100px 0 0;
	  top: 0;
	  left: 0;
	}
	
	.aboutme p {
	  font-size: 14px;
	}
	
	.resume {
	  width: 90%;
	  margin: 0 auto;
	  padding: 100px 0 0;
	  top: 0;
	  left: 0;
	}
	
	.resume p {
	  font-size: 14px;
	}
	
	
	
	
	
	
}
































